<a href="https://colab.research.google.com/github/ritika-singh2000/Recommender-System/blob/main/Ritika_Singh__Machine_Learning_Test_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# In this test , I have tried to use 2 methods used for the recomendation system .
# First being content-based filtering technique (Here , I have used TF/IDF model  to model the relationship between different documents within a corpus, this will be useful to find similar posts for a given post).
# Second being colaborating filtering method (Here, I have used Nearest Neighbors algorithm which calculates similarity between users by comparing their ratings on the same item , this will be helpful to recommend posts for a given user).
# I have integrated these into a web app using streamlit .

In [ ]:
# method 1 :  Content-based filtering for recommending posts of similar types
# Importing Libraries
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import sigmoid_kernel

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
posts=pd.read_csv('gdrive/My Drive/posts.csv')
posts.head()

                        _id  ...  post_type
0  5d62abaa65218653a132c956  ...       blog
1  5d6d39567fa40e1417a4931c  ...       blog
2  5d7d23315720533e15c3b1ee  ...       blog
3  5d7d405e5720533e15c3b1f3  ...    artwork
4  5d80dfbc6c53455f896e600e  ...       blog

[5 rows x 4 columns]

In [ ]:
users=pd.read_csv('gdrive/My Drive/users.csv')
users.head()

                        _id                  name gender      academics
0  5d60098a653a331687083238  Nivesh Singh Chauhan   male  undergraduate
1  5d610ae1653a331687083239         Gaurav Sharma   male       graduate
2  5d618359fc5fcf3bdd9a0910         Akshay Mishra   male  undergraduate
3  5d6d2bb87fa40e1417a49315        Saksham Mathur   male  undergraduate
4  5d7c994d5720533e15c3b1e9         Varun Chowhan   male  undergraduate

In [ ]:
views=pd.read_csv('gdrive/My Drive/views.csv')
views.head()

                    user_id                   post_id                 timestamp
0  5df49b32cc709107827fb3c7  5ec821ddec493f4a2655889e  2020-06-01T10:46:45.131Z
1  5ed3748576027d35905ccaab  5ed4cbadbd514d602c1531a6  2020-06-01T09:39:20.021Z
2  5ed0defa76027d35905cc2de  5eac305f10426255a7aa9dd3  2020-06-01T08:12:42.682Z
3  5ed0defa76027d35905cc2de  5ed1ff0276027d35905cc60d  2020-06-01T08:10:23.880Z
4  5ed0defa76027d35905cc2de  5ed3820f76027d35905ccac8  2020-06-01T08:08:54.124Z

In [ ]:
print("shape of posts : " , posts.shape)
print("shape of views : " , views.shape)
print("shape of users : " , users.shape)

shape of posts :  (493, 4)
shape of views :  (1449, 3)
shape of users :  (118, 4)

In [ ]:
posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   _id         493 non-null    object
 1   title       493 non-null    object
 2   category    465 non-null    object
 3    post_type  493 non-null    object
dtypes: object(4)
memory usage: 15.5+ KB

In [ ]:
# Filling up the NAN values with empty strings
posts['category'] = posts['category'].fillna('')

In [ ]:
views.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1449 entries, 0 to 1448
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    1449 non-null   object
 1   post_id    1449 non-null   object
 2   timestamp  1449 non-null   object
dtypes: object(3)
memory usage: 34.1+ KB

In [ ]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   _id        118 non-null    object
 1   name       118 non-null    object
 2   gender     118 non-null    object
 3   academics  118 non-null    object
dtypes: object(4)
memory usage: 3.8+ KB

In [ ]:
views.describe()

                         user_id  ...                 timestamp
count                       1449  ...                      1449
unique                       118  ...                      1449
top     5d60098a653a331687083238  ...  2020-03-30T05:53:20.584Z
freq                         230  ...                         1

[4 rows x 3 columns]

In [ ]:
users.describe()

                             _id    name gender      academics
count                        118     118    118            118
unique                       118     118      3              3
top     5ed237ee76027d35905cc6c5  Shanya   male  undergraduate
freq                           1       1     72             68

In [ ]:
posts.describe()

                             _id             title     category  post_type
count                        493               493          493        493
unique                       493               477          232          4
top     5e8381cfa3258347b42f2428  PENCIL RENDERING  Photography    artwork
freq                           1                 3           81        241

In [ ]:
po = posts.copy()
posts.drop('_id',axis =1 , inplace=True)
posts

                                                 title  ...  post_type
0                                          hello there  ...       blog
1                                            Ml and AI  ...       blog
2                        What is an Operating System ?  ...       blog
3                                           Lord Shiva  ...    artwork
4                         How Competition law evolved?  ...       blog
..                                                 ...  ...        ...
488                         CI/CD using GitHub Actions  ...       blog
489  Configure Docker with Django; PostgreSQL; Pg-a...  ...       blog
490                              Recommendation Engine  ...    project
491          Face Recognition using Transfer Learning.  ...      skill
492  Configure CI/CD Pipeline in GitLab and deploym...  ...       blog

[493 rows x 3 columns]

In [ ]:
# Making the summary  
posts['data'] =  posts['category'] + " " + posts[' post_type'] + " " + posts['title'] 
posts.head(15)

                            title  ...                                               data
0                     hello there  ...               Plant Biotechnology blog hello there
1                       Ml and AI  ...  Artificial Intelligence|Machine Learning|Infor...
2   What is an Operating System ?  ...  Operating Systems blog What is an Operating Sy...
3                      Lord Shiva  ...                        Drawings artwork Lord Shiva
4    How Competition law evolved?  ...  Competition Laws blog How Competition law evol...
5      Raghavan Committee - 2002.  ...   Competition Laws blog Raghavan Committee - 2002.
6   Let's discuss some Case laws!  ...  Competition Laws blog Let's discuss some Case ...
7                Forms of Cartel.  ...             Competition Laws blog Forms of Cartel.
8                    Biodiversity  ...                       Eco System blog Biodiversity
9                 Economic policy  ...             Economic Policies blog Economic policy
10               Corporate design  ...    Graphic|Graphic Design artwork Corporate design
11                        Trident  ...                           Drawings artwork Trident
12                     Lord shiva  ...                        Drawings artwork Lord shiva
13                     Smart City  ...                        Painting artwork Smart City
14               Om Namah Shivaay  ...               Pen and ink artwork Om Namah Shivaay

[15 rows x 4 columns]

In [ ]:
# Removing the punctuation marks
posts['data'] = posts['data'].str.replace('[^\w\s]',' ')

In [ ]:

posts.head(20)

                            title  ...                                               data
0                     hello there  ...               Plant Biotechnology blog hello there
1                       Ml and AI  ...  Artificial Intelligence Machine Learning Infor...
2   What is an Operating System ?  ...  Operating Systems blog What is an Operating Sy...
3                      Lord Shiva  ...                        Drawings artwork Lord Shiva
4    How Competition law evolved?  ...  Competition Laws blog How Competition law evol...
5      Raghavan Committee - 2002.  ...   Competition Laws blog Raghavan Committee   2002
6   Let's discuss some Case laws!  ...  Competition Laws blog Let s discuss some Case ...
7                Forms of Cartel.  ...             Competition Laws blog Forms of Cartel
8                    Biodiversity  ...                       Eco System blog Biodiversity
9                 Economic policy  ...             Economic Policies blog Economic policy
10               Corporate design  ...    Graphic Graphic Design artwork Corporate design
11                        Trident  ...                           Drawings artwork Trident
12                     Lord shiva  ...                        Drawings artwork Lord shiva
13                     Smart City  ...                        Painting artwork Smart City
14               Om Namah Shivaay  ...               Pen and ink artwork Om Namah Shivaay
15                         Kid Bu  ...                            Drawings artwork Kid Bu
16                            MIS  ...  Computer Technology Information Technology blo...
17                   Portrait art  ...             Drawings Painting artwork Portrait art
18   CLASSIFYING FORMS OF CARTELS  ...  Competition Laws blog CLASSIFYING FORMS OF CAR...
19                    Best friend  ...  Graphic Design Visual Arts Illustration Graphi...

[20 rows x 4 columns]

In [ ]:
posts.to_csv("final_posts_01", sep='\t')

In [ ]:
tfv = TfidfVectorizer(min_df = 0 , max_features  = None , strip_accents = 'unicode' , analyzer = 'word', ngram_range=(1,3) , stop_words = 'english')

In [ ]:
# Fit and transforming the 'data' text 
tfv_matrix = tfv.fit_transform(posts['data'])
tfv_matrix

<493x4367 sparse matrix of type '<class 'numpy.float64'>'
	with 7664 stored elements in Compressed Sparse Row format>

In [ ]:
tfv_matrix.shape

(493, 4367)

In [ ]:
# getting the scores
sig = sigmoid_kernel(tfv_matrix , tfv_matrix)

In [ ]:
sig[0]

array([0.76169031, 0.76159492, 0.76159527, 0.76159416, 0.76159503,
       0.76159505, 0.76159495, 0.76159519, 0.76159556, 0.76159505,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159526, 0.76159416, 0.76159506, 0.76159416,
       0.76159416, 0.76159416, 0.76159483, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.7615951 , 0.76159416,
       0.76159416, 0.76159504, 0.76159416, 0.76159504, 0.76159416,
       0.76159488, 0.76159497, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.7615951 , 0.76159474,
       0.76159416, 0.76159416, 0.76159416, 0.76159485, 0.76159525,
       0.76159495, 0.76159471, 0.7615949 , 0.76159484, 0.76159489,
       0.76159488, 0.761595  , 0.76159477, 0.76159479, 0.7615949 ,
       0.76159481, 0.761595  , 0.76159416, 0.76159521, 0.7615952 ,
       0.76159416, 0.76159494, 0.76159483, 0.76159486, 0.76159496,
       0.76159476, 0.76159474, 0.76159484, 0.76159489, 0.76159486,
       0.76159486, 0.76159493, 0.76159488, 0.76159487, 0.76159503,
       0.76159497, 0.76159489, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159485, 0.76159532, 0.76159416, 0.76159486,
       0.76159492, 0.76159529, 0.76159488, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159498, 0.76159502, 0.76159492, 0.76159503,
       0.76159488, 0.76159498, 0.761595  , 0.76159507, 0.76159494,
       0.76159526, 0.76159416, 0.76159501, 0.76159493, 0.76159502,
       0.76159506, 0.76159502, 0.76159416, 0.76159416, 0.76159416,
       0.76159496, 0.76159416, 0.76159499, 0.76159496, 0.76159486,
       0.76159482, 0.76159416, 0.76159488, 0.76159508, 0.76159489,
       0.76159478, 0.7615947 , 0.76159461, 0.76159482, 0.76160242,
       0.76159502, 0.76159513, 0.76159496, 0.76159529, 0.76159513,
       0.76159516, 0.76159497, 0.76159517, 0.76159507, 0.76160041,
       0.76159493, 0.76159416, 0.76159514, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159471, 0.76159416, 0.76159416, 0.76159473,
       0.76159507, 0.76159487, 0.76159497, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159497, 0.76159416, 0.76159416,
       0.76162969, 0.76159486, 0.7615949 , 0.76159483, 0.76159481,
       0.76159475, 0.76159482, 0.76159486, 0.76159489, 0.76159473,
       0.76159485, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159504, 0.76159504,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159473,
       0.76159505, 0.76159487, 0.76159416, 0.76159479, 0.76159492,
       0.76159475, 0.76159464, 0.76159416, 0.76159416, 0.76159481,
       0.76159416, 0.76159416, 0.7615948 , 0.76159491, 0.76159479,
       0.76159485, 0.76159512, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159463, 0.7615949 ,
       0.7615949 , 0.7615949 , 0.76159467, 0.76159479, 0.76159516,
       0.76159511, 0.76159416, 0.76159416, 0.76159497, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159488, 0.76159489,
       0.76159498, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159503, 0.76159416, 0.76159416,
       0.76159486, 0.76159488, 0.76159514, 0.76159416, 0.76159416,
       0.76159489, 0.76159416, 0.76159486, 0.76159492, 0.76159478,
       0.76159482, 0.76159481, 0.76159482, 0.76159487, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159472, 0.76159462, 0.76159498, 0.76159416,
       0.76159416, 0.76159472, 0.76159416, 0.76159485, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159478, 0.7615948 ,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159458,
       0.76159416, 0.76159416, 0.76159416, 0.76161537, 0.76159416,
       0.76159416, 0.76159416, 0.76159494, 0.76159416, 0.76159469,
       0.7615946 , 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159495, 0.76159469, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159529, 0.76159416, 0.76159416,
       0.76159416, 0.76159464, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159459, 0.76159471, 0.76159504, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159491, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76161361,
       0.76159468, 0.7615946 , 0.76159416, 0.76159478, 0.76159559,
       0.7615946 , 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159473, 0.76161029, 0.76159468, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159477, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159488, 0.76159416, 0.76159416, 0.76159416, 0.76159513,
       0.76159528, 0.76159489, 0.76159482, 0.76159416, 0.76159416,
       0.76159416, 0.76159484, 0.76159472, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159485, 0.76159416, 0.76159416,
       0.76159477, 0.76159482, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159416, 0.76159416, 0.76159416, 0.76159416, 0.76159416,
       0.76159475, 0.76159522, 0.76159416, 0.76159487, 0.76159475,
       0.76159416, 0.76159416, 0.76159472])

In [ ]:
# getting the indices values for each post
indices = pd.Series(posts.index , index = posts['title'] ).drop_duplicates()
indices

title
hello there                                                              0
Ml and AI                                                                1
What is an Operating System ?                                            2
Lord Shiva                                                               3
How Competition law evolved?                                             4
                                                                      ...
CI/CD using GitHub Actions                                             488
Configure Docker with Django; PostgreSQL; Pg-admin & Elasticsearch     489
Recommendation Engine                                                  490
Face Recognition using Transfer Learning.                              491
Configure CI/CD Pipeline in GitLab and deployment to server via SSH    492
Length: 493, dtype: int64

In [ ]:
# p = posts.copy()
# Function used to print the top 10 recommendations
def recommendation_prediction(title , sig=sig):
  idx = indices[title]
  sig_scores = list(enumerate(sig[idx]))
  sig_scores = sorted(sig_scores , key = lambda x : x[1] , reverse =  True)
  sig_scores = sig_scores[1:11]
  movies_indies = [i[0] for i in sig_scores]
  return (posts['title'].iloc[movies_indies] , sig_scores)

In [ ]:
x ='Ml and AI'
recommendation_prediction(x)

(122                              Artificial Intelligence
 128                      What is Information technology?
 224    10 Best Artificial Intelligence (AI) Courses O...
 291             8 Best Machine Learning Courses for 2020
 16                                                   MIS
 110                                             Ethernet
 170                                         Types Of AI.
 486                                          Learning...
 456                   Recommend Systems Machine Learning
 450               Machine Learningâ€&â€œOperations" (MlOps)
 Name: title, dtype: object,
 [(122, 0.7616170480705129),
  (128, 0.761616939172401),
  (224, 0.7616140070230293),
  (291, 0.7616131111283064),
  (16, 0.7616127386143149),
  (110, 0.7616127386143149),
  (170, 0.7616126897942919),
  (486, 0.7616121973946585),
  (456, 0.7616121849618491),
  (450, 0.7616120758351735)])

In [ ]:
# using the linear_kernel
from sklearn.metrics.pairwise import linear_kernel
li = linear_kernel(tfv_matrix , tfv_matrix)
li[0]

array([1.        , 0.00795888, 0.01154026, 0.        , 0.0090451 ,
       0.00931955, 0.00825867, 0.01077362, 0.01455042, 0.00933305,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.0114697 , 0.        , 0.00936524, 0.        ,
       0.        , 0.        , 0.00698242, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.00985546, 0.        ,
       0.        , 0.00914785, 0.        , 0.00921591, 0.        ,
       0.00755013, 0.00845433, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.00985546, 0.0060355 ,
       0.        , 0.        , 0.        , 0.00725657, 0.01142709,
       0.00820983, 0.00576162, 0.00773842, 0.00714836, 0.00761643,
       0.00751277, 0.00875371, 0.00635404, 0.00658688, 0.00771889,
       0.00679696, 0.00875371, 0.        , 0.01099062, 0.0108302 ,
       0.        , 0.0081122 , 0.00697659, 0.00729073, 0.00838358,
       0.00631815, 0.00602209, 0.00709209, 0.00759055, 0.0073547 ,
       0.00732381, 0.00807548, 0.00753907, 0.00740163, 0.00913808,
       0.00848475, 0.00766178, 0.        , 0.        , 0.        ,
       0.        , 0.00717448, 0.01215002, 0.        , 0.00728003,
       0.00799458, 0.01176386, 0.00754675, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00852894, 0.008987  , 0.007899  , 0.009074  ,
       0.00751636, 0.00857065, 0.00876283, 0.00947554, 0.00812119,
       0.0114697 , 0.        , 0.00893127, 0.00807846, 0.00899873,
       0.00936428, 0.00894478, 0.        , 0.        , 0.        ,
       0.00838358, 0.        , 0.00867201, 0.00833894, 0.00735931,
       0.00686751, 0.        , 0.00751889, 0.00958912, 0.00761331,
       0.00647244, 0.00563335, 0.00470928, 0.00690744, 0.08592352,
       0.00899868, 0.01017799, 0.00840654, 0.01176684, 0.01010965,
       0.01039487, 0.00843284, 0.01049453, 0.00954991, 0.06505908,
       0.00806966, 0.        , 0.01020405, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00578626, 0.        , 0.        , 0.00595283,
       0.00947405, 0.00744974, 0.00849577, 0.        , 0.        ,
       0.        , 0.        , 0.00850524, 0.        , 0.        ,
       0.36950416, 0.00727331, 0.00775763, 0.00696279, 0.00674955,
       0.00613053, 0.00692419, 0.00727045, 0.00763369, 0.00601261,
       0.00722572, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.0091905 , 0.0091905 ,
       0.        , 0.        , 0.        , 0.        , 0.00601804,
       0.00930569, 0.00741994, 0.        , 0.00659655, 0.0079805 ,
       0.00617085, 0.00504811, 0.        , 0.        , 0.00675906,
       0.        , 0.        , 0.00669168, 0.00783661, 0.00655309,
       0.00721526, 0.01007351, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.00491261, 0.00768724,
       0.00774082, 0.00774082, 0.00531461, 0.00657003, 0.01044463,
       0.00992684, 0.        , 0.        , 0.00841473, 0.        ,
       0.        , 0.        , 0.        , 0.00753071, 0.00763721,
       0.00856904, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.00907328, 0.        , 0.        ,
       0.00731329, 0.0075325 , 0.01018714, 0.        , 0.        ,
       0.00762856, 0.        , 0.0073171 , 0.00793284, 0.0064975 ,
       0.00692908, 0.00685155, 0.00687544, 0.00743219, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00581392, 0.00485339, 0.00860079, 0.        ,
       0.        , 0.00584851, 0.        , 0.00721399, 0.        ,
       0.        , 0.        , 0.        , 0.00649082, 0.00673502,
       0.        , 0.        , 0.        , 0.        , 0.00435838,
       0.        , 0.        , 0.        , 0.22059654, 0.        ,
       0.        , 0.        , 0.0081664 , 0.        , 0.0055994 ,
       0.00466429, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00823354, 0.00550203, 0.        , 0.        ,
       0.        , 0.        , 0.01177689, 0.        , 0.        ,
       0.        , 0.00506364, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.00449815, 0.00571547, 0.0092255 , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.00780756, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.20229869,
       0.00543315, 0.00460044, 0.        , 0.00648269, 0.01490852,
       0.00466746, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.00595927, 0.16772751, 0.005458  , 0.        ,
       0.        , 0.        , 0.        , 0.00636862, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.00756364, 0.        , 0.        , 0.        , 0.0101521 ,
       0.01166674, 0.0076097 , 0.00687519, 0.        , 0.        ,
       0.        , 0.00710969, 0.00581622, 0.        , 0.        ,
       0.        , 0.        , 0.00726834, 0.        , 0.        ,
       0.00637143, 0.00694293, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.00620354, 0.011034  , 0.        , 0.00741935, 0.00612943,
       0.        , 0.        , 0.00586544])

In [ ]:
li_indices = pd.Series(posts.index , index = posts['title'] ).drop_duplicates()
li_indices

title
hello there                                                              0
Ml and AI                                                                1
What is an Operating System ?                                            2
Lord Shiva                                                               3
How Competition law evolved?                                             4
                                                                      ...
CI/CD using GitHub Actions                                             488
Configure Docker with Django; PostgreSQL; Pg-admin & Elasticsearch     489
Recommendation Engine                                                  490
Face Recognition using Transfer Learning.                              491
Configure CI/CD Pipeline in GitLab and deployment to server via SSH    492
Length: 493, dtype: int64

In [ ]:
x ='Formation Of Trade Union'
recommendation_prediction(x,li)

(211                               JUSTICE FOR NORTH EAST
 70                               Human Rights and Duties
 71                    Concept of Human Rights and Duties
 35                             Human Resource Management
 226                        Are We Alone In The Universe?
 171               Accounting As A Financial Institution.
 125    Preparation and Presentation of Company Final ...
 434                                   HUMAN ILLUSTRATION
 433           HUMAN ILLUSTRATION ( Background of a room)
 432          HUMAN ILLUSTRATION (With Galaxy Background)
 Name: title, dtype: object,
 [(211, 0.3827831420030752),
  (70, 0.2682293860079221),
  (71, 0.25566048140167885),
  (35, 0.05172555329831923),
  (226, 0.03711848791708398),
  (171, 0.03701717325216221),
  (125, 0.03412412647418128),
  (434, 0.028365996546882967),
  (433, 0.02365274229482719),
  (432, 0.023415477597527063)])

In [ ]:
#method 2 : colaborative filtering for the recommendation for the user
posts=pd.read_csv('gdrive/My Drive/posts.csv')
# renaming the column '_id' 
posts.rename(columns={'_id':'post_id'}, inplace = True)
posts.head()

                    post_id  ...  post_type
0  5d62abaa65218653a132c956  ...       blog
1  5d6d39567fa40e1417a4931c  ...       blog
2  5d7d23315720533e15c3b1ee  ...       blog
3  5d7d405e5720533e15c3b1f3  ...    artwork
4  5d80dfbc6c53455f896e600e  ...       blog

[5 rows x 4 columns]

In [ ]:
views=pd.read_csv('gdrive/My Drive/views.csv')
views.describe()

                         user_id  ...                 timestamp
count                       1449  ...                      1449
unique                       118  ...                      1449
top     5d60098a653a331687083238  ...  2020-03-30T05:53:20.584Z
freq                         230  ...                         1

[4 rows x 3 columns]

In [ ]:
users=pd.read_csv('gdrive/My Drive/users.csv')
users.head(5)

                        _id                  name gender      academics
0  5d60098a653a331687083238  Nivesh Singh Chauhan   male  undergraduate
1  5d610ae1653a331687083239         Gaurav Sharma   male       graduate
2  5d618359fc5fcf3bdd9a0910         Akshay Mishra   male  undergraduate
3  5d6d2bb87fa40e1417a49315        Saksham Mathur   male  undergraduate
4  5d7c994d5720533e15c3b1e9         Varun Chowhan   male  undergraduate

In [ ]:
print("shape of posts : " , posts.shape)
print("shape of views : " , views.shape)
print("shape of users : " , users.shape)

shape of posts :  (493, 4)
shape of views :  (1449, 3)
shape of users :  (118, 4)

In [ ]:
# constructing a new dataframe with count of total number of views of a post.
post_total_viewsCount = views['post_id'].value_counts()
post_total_viewsCount = pd.DataFrame({'post_id':post_total_viewsCount.index, 'total_views':post_total_viewsCount.values})
post_total_viewsCount

                      post_id  total_views
0    5ec1fd0974f7660d73aa0fd5           18
1    5ecd5d417023451e662235c5           16
2    5ecc1d4eeaff6b0c3a58a565           14
3    5eb2c11210426255a7aaa052           14
4    5ecce8a5eaff6b0c3a58a5e9           14
..                        ...          ...
490  5e948786a3258347b42f287e            1
491  5e8bfacca3258347b42f261b            1
492  5e3fcb74eab55d319938a806            1
493  5d80ecfd6c53455f896e601a            1
494  5e4edd1bf5561b1994c8e48a            1

[495 rows x 2 columns]

In [ ]:
total_views_list = post_total_viewsCount.total_views.to_list()
len(post_total_viewsCount)

495

In [ ]:
# Merging the dataframe posts with post_total_viewsCount
posts = posts.merge(post_total_viewsCount, on = 'post_id')
posts

                      post_id  ... total_views
0    5d62abaa65218653a132c956  ...           1
1    5d6d39567fa40e1417a4931c  ...           1
2    5d7d23315720533e15c3b1ee  ...           2
3    5d7d405e5720533e15c3b1f3  ...           3
4    5d80dfbc6c53455f896e600e  ...           2
..                        ...  ...         ...
488  5ed3791976027d35905ccab6  ...           2
489  5ed3820f76027d35905ccac8  ...           4
490  5ed3ef4cbd514d602c1530f2  ...           1
491  5ed415c6bd514d602c15312d  ...           2
492  5ed4cbadbd514d602c1531a6  ...           1

[493 rows x 5 columns]

In [ ]:
# getting the Individual Count of views , using a groupby method
individual_views_df = (views.
     groupby(by = ['user_id','post_id'])['timestamp'].
     count().
     reset_index().
     rename(columns = {'timestamp': 'Individual Count of views '})
    #  [['user_id', 'Individual Count']]
    )
individual_views_df

                       user_id  ... Individual Count of views
0     5d60098a653a331687083238  ...                          1
1     5d60098a653a331687083238  ...                          1
2     5d60098a653a331687083238  ...                          1
3     5d60098a653a331687083238  ...                          1
4     5d60098a653a331687083238  ...                          1
...                        ...  ...                        ...
1392  5ed3748576027d35905ccaab  ...                          1
1393  5ed3748576027d35905ccaab  ...                          1
1394  5ed3748576027d35905ccaab  ...                          1
1395  5ed3cbcbbd514d602c1530a7  ...                          1
1396  5ed3e898bd514d602c1530de  ...                          1

[1397 rows x 3 columns]

In [ ]:
individual_views_df.shape

(1397, 3)

In [ ]:
individual_views_df.describe()

       Individual Count of views
count                 1397.000000
mean                     1.037223
std                      0.217541
min                      1.000000
25%                      1.000000
50%                      1.000000
75%                      1.000000
max                      5.000000

In [ ]:
# Final dataframe
df = pd.merge(individual_views_df,posts,on='post_id')
df

                       user_id  ... total_views
0     5d60098a653a331687083238  ...           1
1     5d60098a653a331687083238  ...           1
2     5d60098a653a331687083238  ...           1
3     5d60098a653a331687083238  ...           1
4     5d60098a653a331687083238  ...           2
...                        ...  ...         ...
1390  5ecb979eeaff6b0c3a58a4f0  ...           2
1391  5ed0defa76027d35905cc2de  ...           2
1392  5ecf6e6576027d35905cbeec  ...           1
1393  5ed0defa76027d35905cc2de  ...           1
1394  5ed3748576027d35905ccaab  ...           1

[1395 rows x 7 columns]

In [ ]:
users_2 = users[['_id' ,'name']]
users_2.rename(columns={'_id' :'user_id'}, inplace = True)
my_df = pd.merge(df,users_2,on='user_id' ,how='outer')
my_df

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                       user_id  ...                  name
0     5d60098a653a331687083238  ...  Nivesh Singh Chauhan
1     5d60098a653a331687083238  ...  Nivesh Singh Chauhan
2     5d60098a653a331687083238  ...  Nivesh Singh Chauhan
3     5d60098a653a331687083238  ...  Nivesh Singh Chauhan
4     5d60098a653a331687083238  ...  Nivesh Singh Chauhan
...                        ...  ...                   ...
1390  5e26bb482a37d20505da2c10  ...       Nachiket Khatri
1391  5e78ce84cfc8b713f5ac7cee  ...        Fauziya Shaikh
1392  5e8437f6a3258347b42f243d  ...          Shivani Gaba
1393  5e8437f6a3258347b42f243d  ...          Shivani Gaba
1394  5ea6c05910426255a7aa9baa  ...             Raghunath

[1395 rows x 8 columns]

In [ ]:
df=my_df.copy()

In [ ]:
df.describe()

       Individual Count of views   total_views
count                 1395.000000  1395.000000
mean                     1.037276     5.384229
std                      0.217692     4.014862
min                      1.000000     1.000000
25%                      1.000000     2.000000
50%                      1.000000     4.000000
75%                      1.000000     8.000000
max                      5.000000    18.000000

In [ ]:
# Setting a threshold value and cosidering the values only beyond the following threshold value
views_threshold = 4
rating_populatity =  df.query('total_views >=@views_threshold')
rating_populatity.head()

                     user_id  ...                  name
7   5d60098a653a331687083238  ...  Nivesh Singh Chauhan
12  5d60098a653a331687083238  ...  Nivesh Singh Chauhan
29  5d60098a653a331687083238  ...  Nivesh Singh Chauhan
33  5d60098a653a331687083238  ...  Nivesh Singh Chauhan
34  5d60098a653a331687083238  ...  Nivesh Singh Chauhan

[5 rows x 8 columns]

In [ ]:
rating_populatity.shape

(785, 8)

In [ ]:
# Creating a pivot table 
df_pivot = df.pivot_table(index = 'name' , columns = 'title' , values  = 'Individual Count of views ').fillna(0)
df_pivot.head()

title              'The Virtual ME'  ...  ðŸ‰ Watermelon lemon cooler
name                                 ...
Aanjan Prasath G                0.0  ...                        0.0
Aayushree Khokhar               0.0  ...                        0.0
Abhinav Mishra                  0.0  ...                        0.0
Abhishank Gupta                 0.0  ...                        0.0
Abhishek Kumar                  0.0  ...                        0.0

[5 rows x 477 columns]

In [ ]:
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

final_df = csr_matrix(df_pivot.values)
model_knn = NearestNeighbors(metric = 'cosine' , algorithm = 'brute')
model_knn.fit(final_df)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [ ]:
query_index = np.random.choice(final_df.shape[0])
print(query_index)
distances , indices  = model_knn.kneighbors(df_pivot.iloc[query_index,:].values.reshape(1,-1) , n_neighbors=10)

93

In [ ]:
df_pivot.to_csv("users_pivot_table_01")
!cp pivot_table_01.csv "drive/My Drive/"
df_pivot.head()

cp: cannot stat 'pivot_table_01.csv': No such file or directory

title              'The Virtual ME'  ...  ðŸ‰ Watermelon lemon cooler
name                                 ...
Aanjan Prasath G                0.0  ...                        0.0
Aayushree Khokhar               0.0  ...                        0.0
Abhinav Mishra                  0.0  ...                        0.0
Abhishank Gupta                 0.0  ...                        0.0
Abhishek Kumar                  0.0  ...                        0.0

[5 rows x 477 columns]

In [ ]:
print("Recomendation for  User:")
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('{}'.format(df_pivot.index[query_index]))
        # print(query_index)
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, df_pivot.columns[indices.flatten()[i]], distances.flatten()[i]))

Recomendation for  User:
Shreya maji
1: AWS services and how to launch OS on AWS Cloud, with distance of 0.7642977396044841:
2: BASIC STRUCTURE DOCTRINE, with distance of 0.8578661890962597:
3: 5 Best Computer Networking Courses & Certification [2020], with distance of 0.8796141469142308:
4: Database management system(DBMS), with distance of 0.882148869802242:
5: C#(.NET), with distance of 0.8867722965855405:
6: Communication, with distance of 0.8908910548820038:
7: Delegates(.net), with distance of 0.8951354989813847:
8: A stone bridge on the full moon night, with distance of 0.9394772467331197:
9: Business skills, with distance of 0.9631332490927113: